{{title}}
<!-- <app-products></app-products> -->
<app-form-array></app-form-array>
<!--{{}}interpolation-->
  <!--In Angular, String interpolation is used to display dynamic data on HTML template (at user end).
      It facilitates you to make changes on component.ts file and fetch 
    data from there to HTML template (component.html file).
  String Interpolation and Property Binding both are 
  about one-way data binding. They both flow a value 
  in one direction from our components to HTML elements.
-->
<!-- <app-crud-angular></app-crud-angular> -->

<!-- <app-parent></app-parent> -->
<!-- {{name}} -->